.footer-container {
    display: flex;
    flex-direction: column;
    background: black;
    text-align: center;
    width: 100vw;
    flex-grow: 1;
    padding: 14px;
  }
  
  .footer-description,
  .footer-title {
    color: #ffffff;
    font-family: roboto;
    margin: 0px;
  }